* {
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-width: 0px 0px 1px;
  border-style: solid;
  border-color: #27272a;
  background: #121212;
  padding: 6px 16px 5px;
  width: 1280px;
  height: 48px;

  .frame24 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    width: 652px;
    min-width: 652px;

    .sVg {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
    }

    .text {
      flex-shrink: 0;
      width: 56px;
      height: 20px;
      line-height: 20px;
      letter-spacing: 0;
      color: #fafafa;
      font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .container4 {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    column-gap: 4px;

    .verticalDivider {
      flex-shrink: 0;
      background: #27272a;
      width: 1px;
      height: 16px;
    }

    .icon {
      flex-shrink: 0;
      width: 18px;
      height: 22px;
    }

    .container {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      padding-top: 3px;
      padding-bottom: 3px;
    }

    .button {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      border-radius: 6px;
      padding: 4px;

      .text2 {
        flex-shrink: 0;
        padding: 0px 0px 0px 4px;
        line-height: 16px;
        letter-spacing: 0;
        color: #fafafa;
        font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
      }
    }

    .button2 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      padding: 8px 12px;

      .text3 {
        flex-shrink: 0;
        padding: 0px 0px 0px 4px;
        line-height: 16px;
        letter-spacing: 0;
        color: #a1a1aa;
        font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
      }
    }

    .margin {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      justify-content: center;
      padding-right: 4px;
      padding-left: 4px;
    }

    .container2 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      padding: 3px 5px;
    }

    .container3 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      padding: 4px;
      width: 28px;
      height: 28px;
    }

    .margin2 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      padding-right: 4px;
      padding-left: 4px;
    }

    .icon2 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      padding: 13px 9px;

      .vector {
        background: #a1a1aa;
        width: 11px;
        height: 2px;
      }
    }
  }
}
