* {
  box-sizing: border-box;
}

.container14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #1e1e1f;
  width: 1280px;
  height: 800px;

  .icon {
    flex-shrink: 0;
    width: 18px;
    height: 22px;
  }

  .header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: #27272a;
    background: #121212;
    padding: 6px 16px 5px;
    height: 48px;

    .frame24 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: space-between;
      width: 652px;
      min-width: 652px;

      .sVg {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
      }

      .text {
        flex-shrink: 0;
        width: 56px;
        height: 20px;
        line-height: 20px;
        letter-spacing: 0;
        color: #fafafa;
        font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .container4 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 4px;

      .verticalDivider {
        flex-shrink: 0;
        background: #27272a;
        width: 1px;
        height: 16px;
      }

      .container {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        padding-top: 3px;
        padding-bottom: 3px;
      }

      .button {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        border-radius: 6px;
        padding: 4px;

        .text2 {
          flex-shrink: 0;
          padding: 0px 0px 0px 4px;
          line-height: 16px;
          letter-spacing: 0;
          color: #fafafa;
          font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
        }
      }

      .button2 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        padding: 8px 12px;

        .text3 {
          flex-shrink: 0;
          padding: 0px 0px 0px 4px;
          line-height: 16px;
          letter-spacing: 0;
          color: #a1a1aa;
          font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
        }
      }

      .margin {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        justify-content: center;
        padding-right: 4px;
        padding-left: 4px;
      }

      .container2 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        padding: 3px 5px;
      }

      .container3 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        padding: 4px;
        width: 28px;
        height: 28px;
      }

      .margin2 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        padding-right: 4px;
        padding-left: 4px;
      }

      .icon2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        padding: 13px 9px;

        .vector {
          background: #a1a1aa;
          width: 11px;
          height: 2px;
        }
      }
    }
  }

  .frame3 {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    align-self: stretch;
    column-gap: 8px;
    background: #121212;
    padding: 8px;
    overflow: hidden;

    .button3 {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      background: #27272a;
      padding: 4px 12px;

      .text6 {
        flex-shrink: 0;
        line-height: 16px;
        letter-spacing: 0;
        color: #fafafa;
        font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
      }
    }

    .frame {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      border-radius: 8px;
      background: #1d1d1d;
      padding: 16px;

      .text4 {
        flex-shrink: 0;
        padding: 0px 246px 0px 0px;
        line-height: 24px;
        letter-spacing: 0;
        color: #fafafa;
        font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 700;
      }

      .margin3 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        align-self: stretch;
        justify-content: center;
        padding-top: 12px;

        .background {
          display: flex;
          flex-grow: 1;
          align-items: flex-start;
          align-self: stretch;
          border-radius: 6px;
          background: #121212;
          padding: 8px;
        }
      }
    }

    .section {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      border-radius: 8px;
      background: #1d1d1d;
      padding: 16px;

      .container6 {
        display: flex;
        flex-shrink: 0;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;

        .text5 {
          flex-shrink: 0;
          line-height: 20px;
          letter-spacing: 0;
          color: #fafafa;
          font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 700;
        }

        .container5 {
          display: inline-flex;
          flex-shrink: 0;
          flex-wrap: wrap;
          align-content: center;
          align-items: center;
          column-gap: 8px;
        }
      }

      .container9 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-end;
        align-self: stretch;
        overflow: auto;

        .container7 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          border-radius: 6px 6px 0px 0px;
          background: #121212;
          padding: 12px;
          height: 28px;

          .text7 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 20px;
            line-height: 16px;
            letter-spacing: 0;
            color: #fafafa;
            font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }
        }

        .button4 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          margin-left: -1px;
          padding: 6px;
          width: 28px;
          height: 28px;

          .container8 {
            flex-shrink: 0;
            width: 20px;
            height: 20px;
          }
        }
      }

      .textarea {
        display: flex;
        position: relative;
        flex-shrink: 0;
        align-items: flex-start;
        justify-content: center;
        border-radius: 0px 6px 6px;
        background: #121212;
        padding: 12px;
        width: 596px;
        height: 652px;
        overflow: auto;

        .container10 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          padding-bottom: 23px;
          width: 560px;

          .aJustLaunchedTheUlti {
            flex-shrink: 0;
            width: 552px;
            line-height: 23px;
            letter-spacing: 0;
            color: #fafafa;
            font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }

        .text8 {
          position: absolute;
          top: 628px;
          left: 537px;
          flex-shrink: 0;
          width: 47px;
          height: 16px;
          line-height: 16px;
          letter-spacing: 0;
          color: #a1a1aa;
          font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
        }
      }
    }

    .aside {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      border-radius: 8px;
      background: #1d1d1d;
      padding: 16px;

      .container11 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;

        .agentChat {
          flex-shrink: 0;
          line-height: 24px;
          letter-spacing: 0;
          color: #fafafa;
          font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 700;
        }

        .aIBackground {
          display: inline-flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-end;
          border-radius: 4px;
          background: #27272a;
          padding: 2px;

          .googleGemini25Pro {
            flex-shrink: 0;
            line-height: 16px;
            letter-spacing: 0;
            color: #a1a1aa;
            font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
          }
        }
      }

      .frame2 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        padding-top: 12px;
        padding-bottom: 12px;
        height: 505px;

        .text9 {
          flex-shrink: 0;
          align-self: stretch;
          width: 278px;
          text-align: center;
          line-height: 20px;
          letter-spacing: 0;
          color: #a1a1aa;
          font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }
      }

      .margin4 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;

        .container12 {
          display: flex;
          flex-shrink: 0;
          flex-wrap: wrap;
          align-content: center;
          align-items: center;
          align-self: stretch;
          column-gap: 4px;
          height: 30px;
          row-gap: 4px;

          .button5 {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
            background: #27272a;
            padding: 4px 12px;

            .text10 {
              flex-shrink: 0;
              align-self: stretch;
              line-height: 16px;
              letter-spacing: 0;
              color: #fafafa;
              font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
            }
          }
        }

        .textarea2 {
          display: flex;
          position: relative;
          flex-shrink: 0;
          flex-wrap: wrap;
          align-content: flex-start;
          align-items: flex-start;
          border: 1px solid #27272a;
          border-radius: 6px;
          background: #121212;
          padding: 11px;
          width: 278px;
          height: 129px;
          overflow: auto;

          .enterYourMessage {
            flex-grow: 1;
            line-height: 20px;
            letter-spacing: 0;
            color: #a1a1aa;
            font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }

          .container13 {
            display: flex;
            position: absolute;
            top: 90px;
            left: 239px;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
            background: #1d1d1d;
            padding: 9px 6px;
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}
