* {
  box-sizing: border-box;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background: #1d1d1d;
  padding: 16px;
  width: 628px;
  height: 736px;

  .container2 {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;

    .text {
      flex-shrink: 0;
      line-height: 20px;
      letter-spacing: 0;
      color: #fafafa;
      font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 700;
    }

    .container {
      display: inline-flex;
      flex-shrink: 0;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      column-gap: 8px;

      .button {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        background: #27272a;
        padding: 4px 12px;

        .text2 {
          flex-shrink: 0;
          line-height: 16px;
          letter-spacing: 0;
          color: #fafafa;
          font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
        }
      }
    }
  }

  .container5 {
    display: flex;
    flex-shrink: 0;
    align-items: flex-end;
    align-self: stretch;
    overflow: auto;

    .container3 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      border-radius: 6px 6px 0px 0px;
      background: #121212;
      padding: 12px;
      height: 28px;

      .text3 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 20px;
        line-height: 16px;
        letter-spacing: 0;
        color: #fafafa;
        font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 500;
      }
    }

    .button2 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      margin-left: -1px;
      padding: 6px;
      width: 28px;
      height: 28px;

      .container4 {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
      }
    }
  }

  .textarea {
    display: flex;
    position: relative;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: center;
    border-radius: 0px 6px 6px;
    background: #121212;
    padding: 12px;
    width: 596px;
    height: 652px;
    overflow: auto;

    .container6 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      padding-bottom: 23px;
      width: 560px;

      .aJustLaunchedTheUlti {
        flex-shrink: 0;
        width: 552px;
        line-height: 23px;
        letter-spacing: 0;
        color: #fafafa;
        font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }
    }

    .text4 {
      position: absolute;
      top: 628px;
      left: 537px;
      flex-shrink: 0;
      width: 47px;
      height: 16px;
      line-height: 16px;
      letter-spacing: 0;
      color: #a1a1aa;
      font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
    }
  }
}
